* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
    column-gap: 40px;
    margin-top: 50px;
  }
  
  .display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    color: white;
    border-radius: 4px;
    background-color: rgb(60, 80, 100);
  }
  
  .newDisplay {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    color: #222222;
    font-weight: bold;
    border-radius: 4px;
    background-color: #E1EEBC;
  }

  #calculator {
    padding: 24px;
    width: 300px;
    height: 400px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #1f1e1e;
  }

  #newCalculator {
    padding: 24px;
    width: 300px;
    height: 400px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgb(3, 124, 35);
    background-color: #328E6E;
    box-shadow: 0px 0px 10px #666;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .row:last-child::before {
    width: 40px;
    height: 40px;
  }
  
  .button:hover {
    background-color: #2782d7;
  }

  .button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }

  .button {
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #ff043a;
    border-radius: 4px;
    box-shadow: 0 5px #666;
    border: 2px solid rgb(255, 60, 60);
  }

  .newButton:hover {
    background-color: #E1EEBC;
    color: #222222;
  }

  .newButton:active {
    background-color: #1DCD9F;
    transform: translateY(4px);
  }

  .newButton {
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    background-color: #222222;
    border-radius: 4px;
    box-shadow: 0 5px #666;
    border: 2px solid #60f0be;
  }


  